.classname{
    color: red;
}
.background{
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid darkolivegreen;
}
.yellow{
    color: orange;
}
.darker{
    background-color: gray;
}